<%- include("Header") -%>
<div class="about">
  <h1 id="about-header-animation">About this site</h1>
  <p>
      This site was created and hosted to outline the unfair double standard administrative team and culture of Reddit.
      More specifically, this site aims to explore how Reddit has went against its own Terms of Service of enforcing their rules (harassment for example)
      and unfairly favors leftist subreddits/communities that criticise another creator or specific idealogy/thing (commonly known as snarking).
    </p>
  <hr />
<h2>Now, why is this important?</h2>
  <p>
      Snarking isn't necessarily a bad thing, it brings about criticism about things people disagree with.
  </p>
  <p>
      The problem is that this can easily turn into
      a cesspool and breeding ground for harassment, hate, and violent rhetoric against individuals, and as mentioned before,
      it is our opinion that Reddit does not stop these actions when leftist communities facilitate this type of behavior against communities they disagree with,
      and even in some instances have enforced rules on their terms of service on communities they don't agree with, and not the other community, despite the other
      community clearly violating the same rules.
  </p>

  <h2>Not just their own TOS, even federal law</h2>
  <p>
      Now, being characterized by blatant hypocrisy by not following your TOS is one thing, but not following federal law is another (I'm talking about legit DMCA requests being thrown out according to H3H3).
      The Digital Millennium Copy Right Act, or DMCA for short, is a federal law/statute passed in 1998 that takes aim at a wide variety of issues relating to copyright with the use of the internet.

  </p>
  <p>
      Basically, its a federal law to protect copyright holders from online theft and provides a way for a swift way to remove infringing content.
  </p>
  <p>
      According to H3H3, legitimate DMCA requests, have been filed by his own lawyer (this isn't something he "ragtagged himself"), and Reddit has repeatedly thrown out the claims.
  </p>

  <h2>For what this site is NOT about...</h2>
  <p>
      This site is not about attacking people's past actions, statements or mindsets that have <strong>nothing to do with</strong>, <strong>doesn't disprove</strong>, and <strong>are irrelevant</strong> to Reddit's hypocrisy of their TOS and enforcing unfair rules on communities they don't agree with.
</p>
<p>
  This site is to outline clearly, in the site's opinion that Reddit unfairly imposes rules on those they don't agree with and is biased towards leftist communities they do agree with. Focusing on past actions or statements
  not relating to the site's TOS and take away from the main topic of conversation is not the goal here.
</p>


</div>

<script>
  window.addEventListener("load", ()=>{
    let element = document.getElementsByClassName("about")[0];
    let header = document.getElementById("about-header-animation");
    setTimeout(function(){
      element.style.padding="5% 7%";
      header.style.opacity="1";
    }, 100)
  })
</script>
<%- include("Footer") -%>
