<%- include("Header") -%>
<div class="contact">
  <h1>Contact</h1>
  <p>
      Want to contact to give tips about Reddit or anything else related? Or just to talk about something cool...
      Then send an email down below:
  </p>
<a href="mailto:redditisaleftisthellhole">redditisaleftisthellhole@proton.me</a>  <p>
      Thanks again :)
  </p>
</div>
<%- include("Footer") -%>
