<%- include("Header") -%>

<div class="home">
  <i class="fa-solid fa-circle-exclamation"></i>
  <h1><%=title%></h1>
  <h2>
    This is coming after a string of related controversies of far left subreddits that have been cultivating violent actions
  against those that they disagree with (more on that here!).
  </h2>
  <a href="/about" class="btn btn-secondary home-button"><i class="fa-solid fa-circle-question"></i> About</a>
  <a href="/support" class="btn btn-outline-dark home-button"><i class="fa-solid fa-shield-halved"></i> Support</a>

</div>

<script>
  window.addEventListener("load", ()=>{
    let element = document.getElementsByClassName("home")[0];
    let buttons = document.getElementsByClassName("home-button");

    setTimeout(function(){
      element.style.padding="12.5% 5%";
      buttons[0].style.opacity = "1";
      buttons[1].style.opacity = "1";

    }, 100)
  })
</script>


<div class="content">
  <div class="content-overview">
    <h2>The Gist</h2>
    <p>There is telling evidence that Reddit has been unfairly and selectively imposing their TOS rules on subreddits and communities they don't agree with,
       while ignoring, turning a blind eye, elevating and not having the same energy to leftist community snark pages that have been facilitating a harmful atmosphere
       that has resulted in nasty harassment and has affected personal lives of those being targetted.
     </p>
  </div>

  <div class="snark-pages">
      <h1>H3H3 Snark Pages</h1>
      <p>The snark pages centered over Ethan Klein have cultivated an environment around harassing and attempting to disrupt Ethan's livelihood.</p>
      <div class="container">
        <img src="/images/be_statement_afar.png" />
        <img src="/images/be_statement_upclose.png" />
        <div class="seperate-text">
          <p>
            One of the more shocking examples of this is the snark pages contributing to his family getting CPS called on them by putting out false, harmful reasonings that have real world consequences,
            such as the embarrassingly false and defamatory statement that his kids are around "dog shit", that Ethan's children contracted parasites.
          </p>
          <p>
            This one comes from courtesy of the r/h3h3_productions snark reddit against Ethan.
          </p>
          <p>To this day, the <a href="https://www.reddit.com/r/h3h3_productions/">h3h3_productions</a> subreddit has not been taken down. It has been made private by the people that own it. Disappointing, Reddit.</p>

        </div>
      </div>


      <p>People calling for the 5150 of Ethan has also contributed to this false CPS claim, which is very unacceptable, and very harmful, behavior that is against Reddit's rules of harassment.</p>

      <h2>What exactly is a 5150 you may ask?</h2>
      <p>A 5150 hold is an involuntary psychiatric hospitalization where somebody is temporary detained if they are <strong>proved</strong> to be a danger to themselves or others.</p>
      <p>For this to happen the individual must be experiencing a mental health crsisis and is a danger to themselves or others (like threatening others or themselves.)</p>
      <p>Let's take a look at the active, false calling for Ethan to get a 5150 for the well being of his family and himself, courtesy of the h3h3 snark pages that Reddit, in our opinion, turns a blind eye to in moderation!</p>
      <hr />
      <div class="crazy-images">
        <img src="/images/5150_call_for_family.png" />
        <img src="/images/5150_totally_unwell.png"/>
        <img src="/images/5150_hes_pathetic.png"/>
        <p>*Don't you just love it when somebody's calling for the involuntary psychiatric hospitalization of yourself because, in their opinion, you're pathetic?</p>
        <hr />

        <img src="/images/5150_im_not_outright_saying_it.png" id="implying-crazy"/>
        <p>We know what you're trying to say.</p>
        <hr />

        <img src="/images/reviewed_reddit_comment.png" id="reddit-reviewed"/>
        <p>
          At the time of Ethan's latest video, he claims this was a post reviewed by Reddit and determined this was compliant with the rules. It is worth noting, at the time of writing, the account who posted this has been suspended - but it's funny to see that Reddit did nothing initially until Ethan went public with his video.
        </p>
        <img src="/images/5150_room_reveal_implication.png" />
        <p>Room reveal alluding to 5150 because Ethan is "crazy"</p>
        <hr />

        <img src="/images/5150_psychiatric_hold_joke.png" id="room-joke"/>
        <p>Calls for Ethan to be put in a psych ward as a "joke", proceeds to say he's actually having a mental breakdown and that mental illness is not an excuse?</p>
        <img src="/images/5150_grouping_from_video.png" id="crazy-ctas"/>
        <p>
            More 5150 calls to action
        </p>
      </div>
      <hr />



      <h2>Cherry on Top</h2>
      <img src="/images/its_justified.png" id="its-justified"/>
      <p>The ethics mean nothing to these people, even when innocent children are involved and are the subject of untrue, defamatory claims platformed by Reddit's snark pages on Ethan Klein. In fact, they think it "must continue".</p>
      <p>Harmful rhetoric and behavior, left unchecked in our opinion by Reddit's moderation team, has consequences.</p>
      <p>Child Protective Services then showed up to Ethan Klein's house on the third of March, 2025.</p>
      <p>Other factors have also played a role, like Denims on Twitch, but that is not the focus of this website.
        You can find out more about Twitch's behavior if you so wish <a href="https://danclancysucks.com/">here.</a></p>
      <p>This is a giant invasion of privacy from the consequences of the harmful rhetoric from Reddit. The CPS agents even asked to go to the kids school, take them out WHILE in school, and interrogate them, basically humiliting the children and Ethan's family in front of his friends, teachers, the staff there, and stigmatize them needlessly.</p>
  </div>

  <div class="double-standard">
      <h1>The Double Standard</h1>
      <p>
          Hila Klein, Ethan's wife, works with a management company and has connections to Reddit community managers.
          As a result, H3H3 went to these community managers and made complaints, made noise, told them that these people on the snark subreddits (specifically, they complained about the r/h3snark subreddit) were definitely harrassing and going against the TOS,
          and actively causing harm.
      </p>
      <p>
          A day later, the r/h3snark subreddit was closed! Great! That was awesome! One person took a look at it, and of course, the snark page did not follow the rules. Story over, right?
      </p>
      <p>
          <strong>No.</strong> The r/h3snark page was reinstated 3 days later - with a very telling reason why, coming directly from the snark page moderation team themselves.
      </p>
      <img src="/images/snark_mod_announcement.png" id="mod-announcement"/>
      <p>
          "Our relationship with Reddit is currently better than ever, and we're in good communication with the admins. We want to maintain that."
      </p>
      <h2>Why is this telling?</h2>
      <p>
          It is a possibility, that, subreddit communities communicatre with actual reddit administrators to ensure fair compliance
          with the rules - fair enough!
      </p>
      <p>
          <strong>The huge problem, however,</strong> is that the h3h3productions subreddit, Ethan's subreddit, which is the 2nd most popular subreddit on the platform behind Joe Rogan,
          has never had contact with the admins, NEVER reached out to them, according to H3H3.
      </p>
      <video controls>
        <source src="/images/reddit_no_contact.mp4" type="video/mp4"/>
      </video>
      <a href="https://www.youtube.com/watch?v=L4f9FQmpMco" class="source-link">Full video</a>
      <p>
          See the double standard? This is one of the reasons why, in our opinion, that Reddit is unfairly imposing their rules on subreddits they agree with. Reddit is closely and in constant contact with this very niche, small h3h3 snark subreddit page,
          with lots of harrassment content against Ethan.
      </p>
      <h2>There's more</h2>
      <p>
          Now, turning a blind eye to subreddits is bad enough. But it gets worse, let's now look at Reddit imposing rules (such as banning subreddits) ina n unfair manner towards those they don't agree with (that they
          otherwise wouldn't do to the other subreddits they agree with, for reasons already mentioned above).
      </p>
      <img src="/images/h_snark_banned.png" />
      <p>
          A snark page, created specifically for Hasan Piker, a popular leftist twitch streamer, called r/hasanpiker, was banned for the reason "harrassment". Basically telling us Reddit will impose their rules like banning subreddits for harrassment if its against Hasan Piker, but not when
          it comes to harrassing Ethan Klein - quite the opposite, those subreddits will be reinstated (as seen above).
      </p>
      <p>See the double standard?</p>

      <h2>Trishyland Snark Subreddit</h2>
      <p>
          Trisha Paytas is an influencer that has made many h3h3 podcast appearances.
      </p>
      <p>
          She had a snark subreddit page made against her that was also spewing very harmful rhetoric and behavior against her, as said by h3h3, these people were "very nasty." Trishyland was also banned,
          but not for harrassment like you may think, it was banned for "excessive copyright removals".
      </p>
      <img src="/images/trishyland_copyright_removals.png" />
      <p>
          This is concerning because: Ethan's team have sent in lots of copyright removal requests on the snark subreddit pages against him to remove these posts that had his content (content that people uploaded in order to steal and take away viewers from H3H3).
      </p>
      <p>
          Despite Trisha being granted takedown requests to get her snark page BANNED, Reddit did not show the same behavior towards subreddits geared against Ethan Klein that were being platformed
          by leftist creators such as HasanPiker, BadEmpanada, MikeFromPa, Denims and more.
      </p>
      <p>
          According to H3H3, DMCA requests against the same content that is on these subreddits with the intention of stealing his property (stealing views) are getting denied by Reddit. As stated on the about page, according to Ethan, these aren't ragtag DMCA requsts poorly made by H3H3 himself - these are legitimate DMCA takedown requests made by his lawyer. And in some cases, Reddit even served back counter notifications and outright rejected his claims - a very different energy from Trisha's snark subreddit.
      </p>
      <p>
        Hear Trisha on how she got her snark subreddits banned:
      </p>
      <video controls>
        <source src="/images/trisha_explains.mp4" type="video/mp4"/>
      </video>
      <a href="https://www.youtube.com/watch?v=L4f9FQmpMco" class="source-link">Full video</a>

      <p>
          Ethan says he has done all of what Trisha has done and more - over the period of a long two years, with escalating harrassment against Ethan continuing day by day.
      </p>
      <video controls>
        <source src="/images/claims_denied.mp4" type="video/mp4"/>
      </video>
      <a href="https://www.youtube.com/watch?v=L4f9FQmpMco" class="source-link">Full video</a>
      <p>
          Trisha's and Hasan's snark pages against them were removed, but Ethan's snark subredits that have harrassment and spew harmful rhetoric (such as calling CPS on Ethan's children which ACTUALLY happened as a result) remain up?
      </p>
      <h2>Another Telling Example: r/snarksnark</h2>
      <p>
          A subreddit called r/snarksnark was made by H3H3 to make fun of snark subreddits in general.
      </p>
      <p>
          When the community was starting to take off, this subreddit - made by H3H3, was banned - and this subreddit was being critical of other snark subreddits that have been breaking Reddit's rules and harrassing Ethan that had real world consequences of his children.
      </p>
      <p>
          The r/snarksnark subreddit made by Ethan was banned, because of, you guessed it - harrassment.
      </p>
      <video controls>
        <source src="/images/snark_snark_banned.mp4" type="video/mp4"/>
      </video>
      <a href="https://www.youtube.com/watch?v=L4f9FQmpMco" class="source-link">Full video</a>
      <p>
          But wait - it gets even better.
      </p>
      <p>
          The snark snark subreddit was reinstated days later, good news, right?
      </p>
      <h2>No.</h2>
      <p>
          The snark snark subreddit, now reinstated, was now owned by one of the mods from a snarking subreddit against harrassing Ethan that mocked his dead dog after being reinstated. I guess this is allowed? Stealing subreddits?
      </p>
      <video controls>
        <source src="/images/subreddit_steal.mp4" type="video/mp4"/>
      </video>
      <a href="https://www.youtube.com/watch?v=L4f9FQmpMco" class="source-link">Full video</a>

  </div>


</div>

<div class="footer">

    <p>Well, you reached the end!</p>
</div>
<%- include("Footer") -%>
