<%- include("Header") -%>

<div class="legal">
  <h1>Fair Use and Monetization Disclaimer</h1>
  <p>
    <strong>Fair Use and Monetization Disclaimer:</strong> This website may contain copyrighted material used for criticism, commentary, review, and reporting under Fair Use provisions of U.S. Copyright Law (17 U.S.C. Section 107). We believe this constitutes "fair use" for research and educational purposes. This website is supported by buymeacoffee.com, a support website, to fund server costs and website maintenance. We strive for proper attribution; if you believe your work is infringed, contact us at <a href="mailto:redditisaleftisthellhole">redditisaleftisthellhole@proton.me</a>. Opinions are ours; readers should conduct their own research.
  </p>
</div>



<%- include("Footer") -%>
