<%- include("Header") -%>
<div class="support">
    <h1>Want to support?</h1>
    <p>
        Hosting servers and maintaining websites take time - and money.
    </p>
    <p>
        If you would like to support the website, meaning the potential for better hosting,
        better maintenance and so on, you can do so at the buymeacoffee link:
    </p>
    <a href="https://buymeacoffee.com/garryy">buymeacoffee support page <i class="fa-solid fa-mug-hot"></i></a>
    <p>
        Thank you!
    </p>
</div>
<%- include("Footer") -%>
